body{
    display:flex;
    flex-direction: column;
    align-items: center;
}

#calculator_body
{
    width: 400px;
    height:475px;
    background-color: rgb(114, 114, 114);
    border-radius: 24px;
    display:flex;
    flex-direction: column;
    align-items: center;
}

#screen
{
    width:350px;
    height:100px;
    background-color: aliceblue;
    margin:4%;
    border-radius: 15px;
    display:flex;
    align-items: center;
    font-size:30px;
    justify-content: flex-end;
    padding:10px;
    box-sizing: border-box;
}


#button_body
{
    width:350px;
    height:300px;
    margin:15px;
    background-color:bisque;
    border-radius: 15px;
    padding:20px;
    box-sizing: border-box;
}

button{
    padding:10px;
    font-size:18px;
    margin:1%;
    border-radius: 6px;
    border-style: solid;
    border-width: 1px;
}
